<header class="header">
	<div class="container">
		<h1 class="logo">
			<a href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<nav id="mobile_nav">
			<ul>
				<li><a {% if page.url == "/" %} class="active" {% endif %}   href="/">Home</a></li>
				{% for doc in site.pages %}
				<li><a {% if page.url contains doc.url %} class="active" {% endif %}   href="{{ doc.url }}">{{ doc.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<nav class="nav" id="nav">
			<ul class="--hide-from-pdf">
				<li><a {% if page.url == "/" %} class="active" {% endif %}   href="/">Home</a></li>
				{% for doc in site.pages %}
				<li><a {% if page.url contains doc.url %} class="active" {% endif %}   href="{{ doc.url }}">{{ doc.title }}</a></li>
				{% endfor %}
			</ul>
			<ul class="--show-in-pdf" style="display:none">
				<li>Resume <span id="datenow"></span></li>
			</ul>
		</nav>
	</div>
</header>
