<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<input type="checkbox" id="overlay-input" />
		<label for="overlay-input" id="overlay-button"><span></span></label>
		<nav id="mobile_nav">
			<ul>
				<li><a href="/">Home</a></li>
				{% for doc in site.pages %}
				<li><a {% if page.url == doc.url %} class="active" {% endif %}   href="{{ doc.url }}">{{ doc.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<nav class="nav" id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				{% for doc in site.pages %}
				<li><a {% if page.url == doc.url %} class="active" {% endif %}   href="{{ doc.url }}">{{ doc.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
