<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.davidverweij.com">
<meta property="og:type" content="website">
<meta property="og:title" content="David Verweij">
<meta property="og:description" content="Developer and Research Portfolio">
<meta property="og:image" content="https://www.davidverweij.com/assets/images/about/davidverweij_wide.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="davidverweij.com">
<meta property="twitter:url" content="https://www.davidverweij.com">
<meta name="twitter:title" content="David Verweij">
<meta name="twitter:description" content="Developer and Research Portfolio">
<meta name="twitter:image" content="https://www.davidverweij.com/assets/images/about/davidverweij_wide.jpg">

<link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | prepend: site.baseurl }}">
