/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-grey: #444;
$color-silver-chalice: #9b9b9b;
$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;
