<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h1>
					{{ page.page.title }}
				</h1>
				{% if page.image %}
					<img src="{{ page.image.url | prepend: site.baseurl }}" alt="{{ page.image.alt }}" />
				{% endif %}
				<p>{{ page.content }}</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
</body>
</html>
